*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    padding-top: 20px;
    height: 70px;
    background-color: red;
}

.containerleft{
    text-align: left;
}

#logo1{
    display: inline-block;
    height: 25px; 
    vertical-align: middle;
}

.listleft{
    display: inline-block;
    vertical-align: middle;
}

nav ul li{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 15px;
}


/* */