*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    padding-top: 20px;
    height: 70px;
    background-color: white;
    width: 100%;
    position: fixed;
}

.containerleft{
    float: left;
    font-size: 0.8em;
}

#logo1{
    margin-left: 10px;
    display: inline-block;
    height: 20px; 
    vertical-align: middle;

}

.list{
    display: inline-block;
    vertical-align: middle;
}

nav ul li{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 15px;
}

.container-right{
    float: right;
    vertical-align: middle;
    font-size: 0.8em;
    margin-right: 10px;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
/* */

.con{
    vertical-align: middle;
}