*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 20px; 
    position: fixed;
    z-index: 500;
}

.containerleft{
    float: left;
    font-size: 0.8em;
}

#logo1{
    display: inline-block;
    height: 20px; 
    vertical-align: middle;
}

.list{
    display: inline-block;
    vertical-align: middle;
}

nav ul li{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 15px;
}

.container-right{
    float: right;
    vertical-align: middle;
    font-size: 0.8em;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
/* */

.con{
    vertical-align: middle;
}

/*Inizio main 1a sezione*/


.colorsfondo{
    background-color: #B4D0E7;
    width: 100%;
}

.largh-80{
    width: 80%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    position: relative;
}

h1{
    padding-top: 150px;
    font-weight: bold;
}

.sottotitolo{
    width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    line-height: 1.6;
}

.sximg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    float: left;
}

.Iniziap{
    padding-top: 50px;
}

.padd{
    margin-top: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    float: left;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}


.imgdx{
    position: absolute;
    width: 50%;
}

.fa-solid{
    margin-bottom: 65px;
    font-size: 2em;
}

/* main 2a sezione*/


.widthridotta{
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
}

.titolo2{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
}

.linea{
    margin-top: 30px;
    margin-bottom: 30px;
}

.ok{
    margin-right: 15px;
}

.Ciao{
    padding-top:200px;
    width: 70%;
    margin: 0 auto;
}

.lineare{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.hello{
    font-size: 2.8em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.Fl{
    float: left;
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
}

.titolo{
    text-align: center;
    padding: 7px;
    border: 1px solid lightgrey;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.spazio{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.pinco{
    padding: 15px;
    border: 1px solid lightgrey;
    border-top: 0;
    min-height: 700px;
}

.spazi{
    font-size: 0.9em;
    font-style: oblique;
    margin-top: 8px;
}

.spa{
    margin-top: 25px;
    font-size: 0.9em;
}

.spaz{
    margin-top: 13px;
    font-size: 0.9em;
}

.button2{
    margin-top: 20px;
}

.button3{
    text-decoration: none;
    background-color: #0061FF;
    color: white;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 0.8em;
}


.compra{
    margin: 15px;
    margin-left: 0;
}

p a{
    color: blue;
}

hr{
    width: 20%;
    border: 1px solid #666;
    border-width: 1px 0 0 0;
}

.sottohr{
    margin: 30px;
    margin-left: 0;
    margin-bottom: 20px;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

div ul li{
    list-style: none;
}

div ul li a{
    text-decoration: none;
}

.elenco a{
    font-size: 0.8em;
    color: black;
    margin-bottom: 10px;
}
